page-sidemenu {
   
    ion-avatar img {
        width: 100px !important;
        height: 100px !important;
        border-radius: 60%;
        margin: auto;
        display: block;
    }

    h3 {
        text-align: center;
    }
}
